* {
 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:white;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-right: 75%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-Body {
  min-height: 78vh;
  margin-top: 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-footer{
  background-color: white;
  display: flex;
  direction: column;
  justify-content: center;
  text-align: start;
  font-size: smaller;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;

}

.h1{
  padding-top: 2rem;
  display: flex;
  direction: column;
  justify-content: center;
  text-align: start;
  font-size: smaller;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
}

.h2{
  display: flex;
  direction: column;
  justify-content: center;
  text-align: start;
  font-size: smaller;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
}

.grid{
  display: column;
  grid-auto-flow: column;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: max-content;
  flex-direction: column;
  background-color: rgb(224, 224, 224);
  margin: 5em auto;
  align-content: center;
  justify-content: start;
  width: min(35%, 75rem);

}